./node_modules
client/node_modules

node_modules/
client/.expo/
client/dist/
client/npm-debug.*
client/*.jks
client/*.p8
client/*.p12
client/*.key
client/*.mobileprovision
client/*.orig.*
client/web-build/
.expo
# macOS
.DS_Store
